header{
    width: 100%;
    height: 150px;
    background-color: red;
    float: left;
}

.section1{
    width: 100%;
    height: 800px;
    background-color: darkgreen;
}
.entre2sections{
    width: 100%;
    height: 200px;
    background-color: red;
}
.section2{
    width: 100%;
    height: 900px;
    background-color: darkgreen;
}
